<div style="margin-left: 12px;" class="col-xs-6 ">
    <div class="container newPost">
        <h2 class="textColor title"> New Post </h2>
        <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
            <div class="form-group">
                <label class="textColor" for="postContent">Enter your text here</label>
                <input class="formArea" type="text" id="postContent" #postContent formControlName="postContent">
            </div>
            <button class="defaultButton" type="submit" [disabled]="postForm.invalid"  >
                Save
            </button>
        </form>
    </div>
    <div class="container footerArea">
        <p style="color: #ffffff;
                  font-size: 13px;
                  line-height: 25px;
                  font-weight: 700;">66Wolfreak99 - 2021</p>   
    </div>
</div>