<div class="col-xs-6 ">
    <div class="container newPost">
        <h2 class="textColor"> New Post </h2>
        <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
            <div class="form-group">
                <label class="textColor" for="postContent">Enter your text here</label>
                <input class="form-control" type="text" id="postContent" #postContent formControlName="postContent">
            </div>
            <button class="defaultButton" type="submit" [disabled]="postForm.invalid"  >
                Save
            </button>
        </form>
    </div>
</div>